version: '3.8'

services:
  postgres-db:
    image: postgres:16
    container_name: postgres_prueba_tecnica
    restart: always
    environment:
      POSTGRES_DB: escuela_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
